/customerdatamanagement/nbproject/private/
/customerdatamanagement/build/
/sale/build/
/sale/nbproject/private/
/SwingDashboardApp-master/build/
/SwingDashboardApp-master/nbproject/private/
/SwingDashboardApp-master/SwingDashboardApp-master/build/
/SwingDashboardApp-master/SwingDashboardApp-master/nbproject/private/
/customerdatamanagement/SwingDashboardApp-master/build/
/customerdatamanagement/SwingDashboardApp-master/nbproject/private/
/customerdatamanagement/dist/